form{
    width: 80%;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: lightgrey;
    font-size: 18px;
}
p {
    text-align: center;
}
